<div class="header">
    <div>
        <h1>CONTACT</h1>
    </div>
</div>
<div class="img">
    <img src="../../assets/images/map.jpg" alt="image">
</div>
<div class="section-con">
    <div class="container">
        <div class="row" style="background-color: white;">
            <div class="col-6" style="margin-top: 50px;">
                <div class="section">
                    <h1>WE’D LOVE TO <br>
                        HEAR FROM YOU.</h1>
                    <p>If you're having problems<br>
                        editing this website template,<br>
                        then don't hesitate to ask for<br>
                        help on the <a href="https://freewebsitetemplates.com/forums/" style="color: black;">Forums</a>.</p>
                </div>
            </div>
            <div class="col-6" style="margin-top: 50px;">
                <div class="form">
                    <h1>INQUIRY FORM</h1>
                    <form action="/action_page.php">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                        <label for="country">Country</label>
                        <select id="country" name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>
                        <label for="subject">Subject</label>
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
              
            </div>
        </div>
    </div>
</div>
<div class="section-4">
    <div class="container">
        <div class="row" style="justify-content: center; padding: 45px 0px;">
            <div class="icon">
                <img src="../../assets/images/fac.png" alt="icon">
            </div>
            <div class="icon">
                <img src="../../assets/images/pin.png" alt="icon">
            </div>
            <div class="icon">
                <img src="../../assets/images/goo.png" alt="icon">
            </div>
            <div class="icon">
                <img src="../../assets/images/ins.png" alt="icon">
            </div>
            <div class="p-text" style="text-align: center; color: white; padding-top: 35px;">
                <p>© 2023 Freeeze. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>