<div class="header">
    <div>
        <h1>PRODUCTS</h1>
    </div>
</div>

<div class="section-1">
    <div class="container">
        <div class="row" style="margin-left: 20px;">
            <div class="col-3" style="text-align: center; width: 243px;">
                <h1 style="padding-top: 87px; font-size: 30px; color: #E32A62;">All Time Classic</h1>
                <p>This website template has been designed by <a href="https://freewebsitetemplates.com/">Free Website Templates</a><br>
                     for you, for free. You can replace all this text with your own text.</p>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/kiwi.jpg" alt="kiwi">
                <h2>KIWI</h2>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/mango.jpg" alt="kiwi">
                <h2>MANGO</h2>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/cantaloupe.jpg" alt="kiwi">
                <h2>CANTALOUPE</h2>
            </div>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="container">
        <div class="row" style="margin-left: 20px;">
            <div class="col-3" style="text-align: center; width: 243px;">
                <h1 style="padding-top: 87px; font-size: 30px; color: #E32A62;">Berry Special</h1>
                <p>This website template has been designed by <a href="https://freewebsitetemplates.com/">Free Website Templates</a><br>
                     for you, for free. You can replace all this text with your own text.</p>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/blackberry1.jpg" alt="kiwi">
                <h2>BLACKBERRY</h2>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/strawberry2.jpg" alt="kiwi">
                <h2>STRAWBERRY</h2>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/blueberry3.jpg" alt="kiwi">
                <h2>BLUEBERRY</h2>
            </div>
        </div>
    </div>
</div>
<div class="section-3">
    <div class="container">
        <div class="row" style="margin-left: 20px;">
            <div class="col-3" style="text-align: center; width: 243px;">
                <h1 style="padding-top: 87px; font-size: 30px; color: #E32A62;">Fruit Blast</h1>
                <p>This website template has been designed by <a href="https://freewebsitetemplates.com/">Free Website Templates</a><br>
                     for you, for free. You can replace all this text with your own text.</p>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/grapes1.jpg" alt="kiwi">
                <h2>GRAPES</h2>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/green-apple2.jpg" alt="kiwi">
                <h2>GREEN APPLE</h2>
            </div>
            <div class="col-3" style="text-align: center;">
                <img src="../../assets/images/pineapple3.jpg" alt="kiwi">
                <h2>PINEAPPLE</h2>
            </div>
        </div>
    </div>
</div>
<div class="section-4">
    <div class="container">
        <div class="row" style="justify-content: center; padding: 45px 0px;">
            <div class="icon">
                <img src="../../assets/images/fac.png" alt="icon">
            </div>
            <div class="icon">
                <img src="../../assets/images/pin.png" alt="icon">
            </div>
            <div class="icon">
                <img src="../../assets/images/goo.png" alt="icon">
            </div>
            <div class="icon">
                <img src="../../assets/images/ins.png" alt="icon">
            </div>
            <div class="p-text" style="text-align: center; color: white; padding-top: 35px;">
                <p>© 2023 Freeeze. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>


