<div class="header-section">
    <div class="container">
        <img src="../../assets/images/cake-home.jpg" alt="cake">
    </div>
</div>
<div class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="left-side">
                    <h1>The Twist of Healthy Yogurt</h1>
                    <p>This website template has been designed by<br>
                        Free Website Templates<br>
                        for you, for free. You can replace all this text with your own text.</p>
                </div>
            </div>
            <div class="col-6">
                <div class="right-side">
                    <img src="../../assets/images/cake-2-home.jpg" alt="cake">
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="section-3">
        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-3" style="justify-content: center; display: flex;">
                    <div class="1-img">
                        <img src="../../assets/images/1.png" alt="icon">
                        <h5>PRODUCTS</h5>
                    </div>
                </div>
                <div class="col-3" style="justify-content: center; display: flex;">
                    <div class="2-img">
                        <img src="../../assets/images/4.png" alt="icon">
                        <h5>OUR STORY</h5>
                    </div>
                </div>
                <div class="col-3" style="justify-content: center; display: flex;">
                    <div class="3-img">
                        <img src="../../assets/images/3.png" alt="icon">
                        <h5>FLAVORS</h5>
                    </div>
                </div>
                <div class="col-3" style="justify-content: center; display: flex;">
                    <div class="3-img">
                        <img src="../../assets/images/2.png" alt="icon">
                        <h5>OUR LOCATION</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer>
    <div class="section-4">
        <div class="container">
            <div class="row" style="justify-content: center; padding: 45px 0px;">
                <div class="icon">
                    <img src="../../assets/images/fac.png" alt="icon">
                </div>
                <div class="icon">
                    <img src="../../assets/images/pin.png" alt="icon">
                </div>
                <div class="icon">
                    <img src="../../assets/images/goo.png" alt="icon">
                </div>
                <div class="icon">
                    <img src="../../assets/images/ins.png" alt="icon">
                </div>
                <div class="p-text" style="text-align: center; color: white; padding-top: 35px;">
                    <p>© 2023 Freeeze. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>